<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        ClaseSmart es 100% offline.
        NO se declara android.permission.INTERNET.
        NO se solicitan permisos de cámara, micrófono, ubicación ni contactos,
        porque ninguna mecánica del producto los requiere.
    -->

    <application
        android:name=".ClaseSmartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClaseSmart"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ClaseSmart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
